<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<configuration>-->

<!--    &lt;!&ndash;configuration 기본적인 구조.&ndash;&gt;-->
<!--    &lt;!&ndash;1.property- 변수 역할&ndash;&gt;-->
<!--    &lt;!&ndash;2.appender- 로그를 출력 할 위치, 출력 형식 등을 설정&ndash;&gt;-->
<!--    &lt;!&ndash;3.logger  - 실제 로그 기능을 수행하는 객체로 각 Logger마다 Name을 부여하여 사용&ndash;&gt;-->

<!--    &lt;!&ndash;appender 종류&ndash;&gt;-->
<!--    &lt;!&ndash;1.ConsoleAppender   - 로그를 OutputStream에 write 하여, 최종적으로 콘솔에 출력 &ndash;&gt;-->
<!--    &lt;!&ndash;2.FileAppender      - 로그의 내용을 지정된 File에 기록&ndash;&gt;-->
<!--    &lt;!&ndash;3.RollingFileAppender- FileAppender로 부터 상속받은 Appender로 날짜, 최대 용량 등을 설정하여 지정한 파일명 패턴에 따라 로그가 다른 파일에 기록&ndash;&gt;-->

<!--    &lt;!&ndash;나중에 LogStashTcpSocketAppender를 통해 LogStash 연동 가능&ndash;&gt;-->

<!--    &lt;!&ndash; 로그의 저장 위치 &ndash;&gt;-->
<!--    <property name="LOGS" value="file:/logs" />-->

<!--    &lt;!&ndash; appender-> 출력 위치, CONSOLE 표기 패턴&ndash;&gt;-->
<!--    <appender name="Console"-->
<!--              class="ch.qos.logback.core.ConsoleAppender">-->
<!--        <layout class="ch.qos.logback.classic.PatternLayout">-->
<!--            <Pattern>-->
<!--                %yellow(%d{ISO8601}) %highlight(%-5level) [%blue(%t)] %magenta(%C{1.}): %msg%n%throwable-->
<!--            </Pattern>-->
<!--        </layout>-->
<!--    </appender>-->

<!--    &lt;!&ndash; 현재 롤링파일 표기 및 아카이브 로깅 규칙 정의 &ndash;&gt;-->
<!--    <appender name="RollingFile"-->
<!--              class="ch.qos.logback.core.rolling.RollingFileAppender">-->
<!--        <file>${LOGS}/now-logFile.log</file>-->
<!--        <encoder-->
<!--                class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">-->
<!--            <Pattern>%d %p %C{1.} [%t] %m%n</Pattern>-->
<!--        </encoder>-->

<!--        <rollingPolicy-->
<!--                class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">-->
<!--            &lt;!&ndash; 분당 로그 파일을 만들고, 10MB 단위로 운영 &ndash;&gt;-->
<!--            &lt;!&ndash; %d -> dateTime, %i -> index 둘은 필수 &ndash;&gt;-->
<!--            <fileNamePattern>${LOGS}/archive/logFile.%d{yyyy-MM-dd_HH}.%i.log-->
<!--            </fileNamePattern>-->
<!--            <timeBasedFileNamingAndTriggeringPolicy-->
<!--                    class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">-->
<!--                <maxFileSize>10MB</maxFileSize>-->
<!--            </timeBasedFileNamingAndTriggeringPolicy>-->
<!--        </rollingPolicy>-->
<!--    </appender>-->

<!--    &lt;!&ndash;전역 로깅 설정 ROOT 부터 하위로 내려감, additivity-> 상속여부&ndash;&gt;-->
<!--    <logger name="com.example.travel" level="trace" additivity="false">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->


<!--    &lt;!&ndash;데이터 베이스 관련 로깅 설정&ndash;&gt;-->

<!--    &lt;!&ndash;SQL 보이게 하기&ndash;&gt;-->
<!--    <logger name="org.hibernate.SQL" level="DEBUG">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->

<!--    &lt;!&ndash;SQL에 들어가는 파라미터 보이게 하기&ndash;&gt;-->
<!--    <logger name="org.hibernate.type.descriptor.sql.BasicBinder" level="TRACE">-->
<!--        <appender-ref ref="RollingFile" />-->
<!--        <appender-ref ref="Console" />-->
<!--    </logger>-->

<!--    &lt;!&ndash;DB 커넥션 표시(선택)&ndash;&gt;-->
<!--    <logger name="com.zaxxer.hikari" level="DEBUG">-->
<!--        &lt;!&ndash;<appender-ref ref="RollingFile" />&ndash;&gt;-->
<!--        &lt;!&ndash;<appender-ref ref="Console" />&ndash;&gt;-->
<!--    </logger>-->

<!--</configuration>-->